.page {
  min-height: 100dvh;
}

.main {
  min-height: 100dvh;
  display: grid;
  grid-template-rows:
    auto /* catalogue */
    1fr /* video */
    auto /* text */
    auto; /* contact */
  padding: var(--padding);
  gap: var(--padding);
}

header.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link {
  color: var(--red) !important;
  text-transform: uppercase;

  text-align: center;
  font-size: var(--font-size-display);
}

.animation {
  position: relative;
  display: flex;
  justify-content: center;
}

.animation video {
  height: 100%;
  width: auto;
  max-width: 100dvw;
  object-fit: contain;
  position: absolute;
}

.introduction {
  color: var(--green);
  text-align: center;
}

@media screen and (min-width: 769px) {
  .main {
    min-height: 100dvh;
    display: grid;
    grid-template-rows:
      auto /* header */
      1fr /* video */
      auto; /* text */
    padding: var(--padding);
  }
}
